
@media only screen and (min-width:800px){

	div#arte-header {
		min-height: 30px;
	}
	
	
	div#arte-header li {
		list-style-type: none;
		background-image: none;
		padding: 0
	}
	
	div#arte-header div {
		line-height: 1em !important
	}
	
	div#arte-header div.arte-header-wrapper {
		margin: 0 auto;
		width: 940px;
		height: 30px
	}
	
	div#arte-header a.arte-header-logo {
		background-image: url(../img/compact-header.png);
		background-position: -521px 0;
		width: 208px;
		height: 30px;
		float: left;
		position: relative
	}
	
	div#arte-header div.arte-header-current {
		display: none !important;
		background: none;
		height: 100%;
	}
	
	div#arte-header div.arte-header-menu ul li a.color-direct {
		background-position: -452px 0; width: 69px;
	}
	div#arte-header div.arte-header-menu ul li a.color-direct:hover,
	div#arte-header div.arte-header-menu ul li a.color-direct:active,
	div#arte-header div.arte-header-menu ul li a.color-direct:focus,
	div#arte-header div.arte-header-menu ul li a.color-direct.selected {
		background-position: -452px 30px;
	}
	
	
	div#arte-header div.arte-header-menu ul li a.color-programmes {
		background-position: -353px 0; width: 99px;
	}
	div#arte-header div.arte-header-menu ul li a.color-programmes:hover,
	div#arte-header div.arte-header-menu ul li a.color-programmes:active,
	div#arte-header div.arte-header-menu ul li a.color-programmes:focus,
	div#arte-header div.arte-header-menu ul li a.color-programmes.selected {
	    background-position: -353px 30px;
	}
	
	
	div#arte-header div.arte-header-menu ul li a.color-plus7 {
		background-position: -310px 0; width: 43px;
	}
	div#arte-header div.arte-header-menu ul li a.color-plus7:hover,
	div#arte-header div.arte-header-menu ul li a.color-plus7:active,
	div#arte-header div.arte-header-menu ul li a.color-plus7:focus,
	div#arte-header div.arte-header-menu ul li a.color-plus7.selected {
	    background-position: -310px 30px;
	}
	
	
	div#arte-header div.arte-header-menu ul li a.color-vod {
		background-position: 0 0; width: 79px;
	}
	div#arte-header div.arte-header-menu ul li a.color-vod:hover,
	div#arte-header div.arte-header-menu ul li a.color-vod:active,
	div#arte-header div.arte-header-menu ul li a.color-vod:focus,
	div#arte-header div.arte-header-menu ul li a.color-vod.selected {
	    background-position: 0 30px;
	}
	
	
	div#arte-header div.arte-header-menu ul li a.color-future {
		background-position: -239px 0; width: 71px;
	}
	div#arte-header div.arte-header-menu ul li a.color-future:hover,
	div#arte-header div.arte-header-menu ul li a.color-future:active,
	div#arte-header div.arte-header-menu ul li a.color-future:focus,
	div#arte-header div.arte-header-menu ul li a.color-future.selected {
	    background-position: -239px 30px;
	}
	
	
	div#arte-header div.arte-header-menu ul li a.color-creative {
		background-position: -161px 0; width:78px;
	}
	div#arte-header div.arte-header-menu ul li a.color-creative:hover,
	div#arte-header div.arte-header-menu ul li a.color-creative:active,
	div#arte-header div.arte-header-menu ul li a.color-creative:focus,
	div#arte-header div.arte-header-menu ul li a.color-creative.selected {
	    background-position: -161px 30px;
	}
	
	
	div#arte-header div.arte-header-menu ul li a.color-liveweb {
		background-position: -79px 0; width: 82px;
	}
	div#arte-header div.arte-header-menu ul li a.color-liveweb:hover,
	div#arte-header div.arte-header-menu ul li a.color-liveweb:active,
	div#arte-header div.arte-header-menu ul li a.color-liveweb:focus,
	div#arte-header div.arte-header-menu ul li a.color-liveweb.selected {
	    background-position: -79px 30px;
	}
	
	
	div#arte-header div.arte-header-menu {
		height: 100% !important;
		width: auto;
	}
	
	div#arte-header div.arte-header-menu ul.arte-header-menu-col1,
	div#arte-header div.arte-header-menu ul.arte-header-menu-col2	{
		vertical-align: middle;
	}
	
	div#arte-header div.arte-header-menu ul li {
		display: block;float:left;
	}
	
	div#arte-header div.arte-header-menu ul.arte-header-menu-col1 li a,
	div#arte-header div.arte-header-menu ul.arte-header-menu-col2 li a {
		height: 100%;
		padding:0;
		display: inline-block;
		background-image: url(../img/compact-header.png);
		text-indent: -9999px;
		//transition-property: none;
	}
	
	div#arte-header div.arte-header-autopromo {
	   top: 0px;
	}
	div#arte-header div.arte-header-autopromo .arte-header-textpromo {
		display: none;
	}
	
	div#arte-header div.arte-header-autopromo div.arte-header-langs ul.arte-header-lang, 
	div#arte-header div.arte-header-autopromo div.arte-header-langs ul.arte-header-social {
	   float: right;
	   margin: 6px 0 0;
	}

}

@media only screen and (max-width:900px){
    div#arte-header a.arte-header-logo { width: 100px; }
}


